In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.experimental import enable_iterative_imputer

In [17]:
data = pd.read_csv("/home/mike/Downloads/data/archive(15)/heart.csv")

In [18]:
data.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [19]:
y = data.pop('output')
X = data

In [20]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
dtypes: float64(1), int64(12)
memory usage: 30.9 KB

In [21]:
X.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [22]:
cat = ['sex', 'cp', 'restecg', 'exng', 'slp', 'caa']

In [23]:
X[cat] = X[cat].astype('category')

In [24]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    category
 2   cp        303 non-null    category
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    category
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    category
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    category
 11  caa       303 non-null    category
 12  thall     303 non-null    int64
dtypes: category(6), float64(1), int64(6)
memory usage: 19.4 KB

In [42]:
from sklearn.compose import make_column_selector
from sklearn.preprocessing import StandardScaler, OneHotEncoder
# from sklearn.compose import make_column_ransformer

cat_selector = make_column_selector(dtype_include=object)
num_selector = make_column_selector(dtype_include=np.number)
cat_selector(X)

[]

In [44]:
# make_column_transformer(
#     (StandardScaler(), ['numerical_column']),
#     (OneHotEncoder(), ['categorical_column']))

In [45]:
data.select_dtypes('category')

    sex cp restecg exng slp caa
0     1  3       0    0   0   0
1     1  2       1    0   0   0
2     0  1       0    0   2   0
3     1  1       1    0   2   0
4     0  0       1    1   2   0
..   .. ..     ...  ...  ..  ..
298   0  0       1    1   1   0
299   1  3       1    0   1   0
300   1  0       1    0   1   2
301   1  0       1    1   1   1
302   0  1       0    0   1   1

[303 rows x 6 columns]

In [48]:
from sklearn.compose import make_column_transformer

In [49]:
from pandas.api.types import CategoricalDtype

In [50]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    category
 2   cp        303 non-null    category
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    category
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    category
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    category
 11  caa       303 non-null    category
 12  thall     303 non-null    int64
dtypes: category(6), float64(1), int64(6)
memory usage: 19.4 KB

In [52]:
one = X.select_dtypes(np.number)

In [53]:
one.head()

   age  trtbps  chol  fbs  thalachh  oldpeak  thall
0   63     145   233    1       150      2.3      1
1   37     130   250    0       187      3.5      2
2   41     130   204    0       172      1.4      2
3   56     120   236    0       178      0.8      2
4   57     120   354    0       163      0.6      2

In [58]:
one.fbs.value_counts()

0    258
1     45
Name: fbs, dtype: int64

In [61]:
one.pop('fbs')

0      1
1      0
2      0
3      0
4      0
      ..
298    0
299    0
300    1
301    0
302    0
Name: fbs, Length: 303, dtype: int64

In [62]:
one.pop('thall')

0      1
1      2
2      2
3      2
4      2
      ..
298    3
299    3
300    3
301    3
302    2
Name: thall, Length: 303, dtype: int64

In [63]:
one.head()

   age  trtbps  chol  thalachh  oldpeak
0   63     145   233       150      2.3
1   37     130   250       187      3.5
2   41     130   204       172      1.4
3   56     120   236       178      0.8
4   57     120   354       163      0.6

In [64]:
from sklearn.preprocessing import normalize

In [68]:
norm_data = normalize(X, norm='l2')

In [69]:
norm_data

array([[0.19745405, 0.00313419, 0.00940257, ..., 0.        , 0.        ,
        0.00313419],
       [0.10874818, 0.00293914, 0.00587828, ..., 0.        , 0.        ,
        0.00587828],
       [0.1368249 , 0.        , 0.00333719, ..., 0.00667439, 0.        ,
        0.00667439],
       ...,
       [0.23671899, 0.00348116, 0.        , ..., 0.00348116, 0.00696232,
        0.01044348],
       [0.25352009, 0.00444772, 0.        , ..., 0.00444772, 0.00444772,
        0.01334316],
       [0.1749685 , 0.        , 0.00306962, ..., 0.00306962, 0.00306962,
        0.00613925]])

In [73]:
import mpl_toolkits.mplot3d  # noqa: F401
from sklearn import manifold, datasets

In [74]:
n_samples = 1500
S_points, S_color = datasets.make_s_curve(n_samples, random_state=0)

In [76]:
def plot_3d(points, points_color, title):
    x, y, z = points.T

    fig, ax = plt.subplots(
        figsize=(6, 6),
        facecolor="white",
        tight_layout=True,
        subplot_kw={"projection": "3d"},
    )
    fig.suptitle(title, size=16)
    col = ax.scatter(x, y, z, c=points_color, s=50, alpha=0.8)
    ax.view_init(azim=-60, elev=9)
    ax.xaxis.set_major_locator(ticker.MultipleLocator(1))
    ax.yaxis.set_major_locator(ticker.MultipleLocator(1))
    ax.zaxis.set_major_locator(ticker.MultipleLocator(1))

    fig.colorbar(col, ax=ax, orientation="horizontal", shrink=0.6, aspect=60, pad=0.01)
    plt.show()


def plot_2d(points, points_color, title):
    fig, ax = plt.subplots(figsize=(3, 3), facecolor="white", constrained_layout=True)
    fig.suptitle(title, size=16)
    add_2d_scatter(ax, points, points_color)
    plt.show()


def add_2d_scatter(ax, points, points_color, title=None):
    x, y = points.T
    ax.scatter(x, y, c=points_color, s=50, alpha=0.8)
    ax.set_title(title)
    ax.xaxis.set_major_formatter(ticker.NullFormatter())
    ax.yaxis.set_major_formatter(ticker.NullFormatter())


plot_3d(X, y, "Original S-curve samples")

ValueError: too many values to unpack (expected 3)