In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data = pd.read_excel("/home/mike/Downloads/archive(8)/Divorce Rates.xlsx")

In [4]:
data.head()

         Country  Divorces
0          China   1893000
1  United States   1106670
2         Russia    685910
3          Japan    257475
4        Germany    190928